In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
client = MongoClient('localhost', 27017)

In [4]:
client.list_database_names()

['admin', 'config', 'local', 'recensement', 'test_database']

In [5]:
db = client.test_database

In [6]:
locations = db.locations

In [17]:
data ={
    "name" : "Whistler",
    "location" : {
        "type" : "Point",
        "coordinates" : [
            2, 45
        ]
    }
}
data

{'name': 'Whistler', 'location': {'type': 'Point', 'coordinates': [2, 45]}}

In [18]:
locations.insert_one(data).inserted_id

ObjectId('5e344a000676605f45493e10')

In [19]:
db.list_collection_names()

['locations']

In [20]:
for i in db.locations.find():
    print(i)

{'_id': ObjectId('5e34429bc44b45bc59442828'), 'name': 'Squaw Valley', 'location': {'type': 'Point', 'coordinates': [-120.24, 39.21]}}
{'_id': ObjectId('5e3442b3c44b45bc59442829'), 'name': 'Aspen', 'location': {'type': 'Point', 'coordinates': [-106.82, 39.18]}}
{'_id': ObjectId('5e3442c2c44b45bc5944282a'), 'name': 'Whistler', 'location': {'type': 'Point', 'coordinates': [-122.95, 50.12]}}
{'_id': ObjectId('5e3447b60676605f45493e0f'), 'name': 'Whistler', 'location': {'type': 'Point', 'coordinates': [1.447850630164802, 43.584385135682155]}}
{'_id': ObjectId('5e344a000676605f45493e10'), 'name': 'Whistler', 'location': {'type': 'Point', 'coordinates': [2, 45]}}

In [21]:
s1={
  "type": "Polygon",
  "coordinates": [[
    [28.9784,41.0082],
    [0.5792, 44.8378],
    [2.3522, 48.8566],
    [28.9784,41.0082]
  ]]
}
s1

{'type': 'Polygon',
 'coordinates': [[[28.9784, 41.0082],
   [0.5792, 44.8378],
   [2.3522, 48.8566],
   [28.9784, 41.0082]]]}

In [22]:
query=db.locations.find({
       "location": {
       "$geoIntersects": {
        "$geometry": s1
     }
   }
 })

In [23]:
list(query)

[{'_id': ObjectId('5e344a000676605f45493e10'),
  'name': 'Whistler',
  'location': {'type': 'Point', 'coordinates': [2, 45]}}]

In [8]:
collection = db['test-collection']

In [9]:
import datetime

In [10]:
post = {"author": "Mike",
       "text": "My first blog post!",
         "tags": ["mongodb", "python", "pymongo"],
         "date": datetime.datetime.utcnow()}

In [11]:
post

{'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['mongodb', 'python', 'pymongo'],
 'date': datetime.datetime(2020, 1, 29, 19, 46, 3, 680529)}

In [12]:
posts = db.posts

In [13]:
post_id = posts.insert_one(post).inserted_id

In [14]:
post_id

ObjectId('5e31e1492e535c1d985bd10d')

In [15]:
db.list_collection_names()

['posts']

In [16]:
posts.find_one()

{'_id': ObjectId('5e31e1492e535c1d985bd10d'),
 'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['mongodb', 'python', 'pymongo'],
 'date': datetime.datetime(2020, 1, 29, 19, 46, 3, 680000)}

In [17]:
posts.find_one({"author": "Mike"})

{'_id': ObjectId('5e31e1492e535c1d985bd10d'),
 'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['mongodb', 'python', 'pymongo'],
 'date': datetime.datetime(2020, 1, 29, 19, 46, 3, 680000)}

In [18]:
posts.find_one({"_id": post_id})

{'_id': ObjectId('5e31e1492e535c1d985bd10d'),
 'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['mongodb', 'python', 'pymongo'],
 'date': datetime.datetime(2020, 1, 29, 19, 46, 3, 680000)}

In [19]:
new_posts = [{"author": "Mike",
...               "text": "Another post!",
...               "tags": ["bulk", "insert"],
...               "date": datetime.datetime(2009, 11, 12, 11, 14)},
...              {"author": "Eliot",
...               "title": "MongoDB is fun",
...               "text": "and pretty easy too!",
...               "date": datetime.datetime(2009, 11, 10, 10, 45)}]

In [20]:
new_posts

[{'author': 'Mike',
  'text': 'Another post!',
  'tags': ['bulk', 'insert'],
  'date': datetime.datetime(2009, 11, 12, 11, 14)},
 {'author': 'Eliot',
  'title': 'MongoDB is fun',
  'text': 'and pretty easy too!',
  'date': datetime.datetime(2009, 11, 10, 10, 45)}]

In [21]:
result = posts.insert_many(new_posts).inserted_ids

In [27]:
import pprint

In [28]:
for i in posts.find():
    pprint.pprint(i)

{'_id': ObjectId('5e31e1492e535c1d985bd10d'),
 'author': 'Mike',
 'date': datetime.datetime(2020, 1, 29, 19, 46, 3, 680000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('5e31e25c2e535c1d985bd10e'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}
{'_id': ObjectId('5e31e25c2e535c1d985bd10f'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}

In [29]:
for post in posts.find({"author": "Mike"}):
    pprint.pprint(post)

{'_id': ObjectId('5e31e1492e535c1d985bd10d'),
 'author': 'Mike',
 'date': datetime.datetime(2020, 1, 29, 19, 46, 3, 680000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('5e31e25c2e535c1d985bd10e'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}

In [30]:
posts.count_documents({})

3

In [31]:
posts.count_documents({"author": "Mike"})

2

In [32]:
d = datetime.datetime(2009, 11, 12, 12)
for post in posts.find({"date": {"$lt": d}}).sort("author"):
    pprint.pprint(post)

{'_id': ObjectId('5e31e25c2e535c1d985bd10f'),
 'author': 'Eliot',
 'date': datetime.datetime(2009, 11, 10, 10, 45),
 'text': 'and pretty easy too!',
 'title': 'MongoDB is fun'}
{'_id': ObjectId('5e31e25c2e535c1d985bd10e'),
 'author': 'Mike',
 'date': datetime.datetime(2009, 11, 12, 11, 14),
 'tags': ['bulk', 'insert'],
 'text': 'Another post!'}

In [33]:
result = db.profiles.create_index([('user_id', pymongo.ASCENDING)],
                                  unique=True)

In [35]:
sorted(list(db.profiles.index_information()))

['_id_', 'user_id_1']

In [36]:
user_profiles = [
...     {'user_id': 213, 'name': 'Luke'},
...     {'user_id': 212, 'name': 'Ziltoid'}]

In [37]:
result = db.profiles.insert_many(user_profiles)

In [48]:
for i in db.profiles.find():
    print(i)

{'_id': ObjectId('5e31e4822e535c1d985bd110'), 'user_id': 213, 'name': 'Luke'}
{'_id': ObjectId('5e31e4822e535c1d985bd111'), 'user_id': 212, 'name': 'Ziltoid'}

In [41]:
db.list_collection_names()

['posts', 'profiles']

In [52]:
db.collection.save

In [53]:
client.close()